
body{
    margin: 0;
}

#box {
    margin: 0;
    display: grid;
    place-items: center;
    background: rgba(246, 237, 253, 0.89);
    min-height: 100vh;
}

.container {
    display: grid;
    width: 30rem;
    height: 20rem;
    text-align: center;
    background: rgb(127, 255, 212);
    border: 1px solid #26f5c8;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#counter {
    font-weight: 700;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #002b50;
}

.contador h1 {
    color: rgb(212, 9, 248);
}

.btn button {
  border: none;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 8px;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#startBtn {
    background-color: #008CBA;
    color: #ffffff;
}

#resetBtn {
    background-color: #e7e7e7;
    color: #000000;
}

#stopBtn {
    background-color: #ff7b71;
    color: #ffffff;
}

#startBtn:hover {
  background-color: #00c05a;
  color: rgb(0, 0, 0);
}

#stopBtn:hover {
  background-color: #ff0000;
  color: rgb(253, 253, 253);
}